{% extends 'store/base.html' %}

{% block content %}
<!-- ***** About Area Starts ***** -->
<div class="about-us" style="margin:150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="assets/images/about-left-image.jpg" alt="Tissus Bazin élégants">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>À Propos de Nous &amp; Nos Compétences</h4>
                    <span>Nous sommes spécialisés dans la vente de tissus bazin cousus et non cousus, avec des modèles élégants pour tous les goûts.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Nos tissus bazin sont conçus avec une attention méticuleuse aux détails pour offrir qualité et style.</p>
                    </div>
                    <p>Chez ART DU CHIC BAZIN, nous nous engageons à offrir des tissus bazin de haute qualité, parfaits pour des créations de mode raffinées. Nous travaillons avec des artisans et des designers pour offrir des modèles uniques et élégants. Que vous soyez à la recherche de tissus pour des vêtements quotidiens ou des occasions spéciales, nous avons la matière qu'il vous faut.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
{% endblock %}